.main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.todo {
  max-width: 500px;
  margin: 50px auto 0;
  border: 1px solid #ddd;
  padding: 20px 30px 10px;
  background: #f9f9f9;
}

.todoHeader {
  text-align: center;
}
