.nav {
  display: flex;
  padding: 2rem 0;
  background: #111;
}

.nav section {
  width: 100%;
}

.nav a {
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  color: #ea3546;
  text-decoration: none;
}

.nav a:first-of-type {
  margin-left: -1.5rem;
}

.nav a:hover {
  background: #222;
}

.nav section {
  max-width: 800px;
  margin-right: auto;
  padding: 0 1.5rem;
}

.nav section h1 {
  font-size: 3rem;
}

@media (max-width: 480px) {
  .nav section {
    text-align: center;
  }

  .nav a {
    padding: 0.5rem;
  }
}
